In [2]:
# importando libs
import pandas as pd
import numpy as np

In [4]:
dt_vendas = pd.read_excel("C:\\Users\\walxi\\Desktop\\Portifolio Data Science\\Estudo 18-04-2020\\Data_set_vendas.xlsx")

In [6]:
dt_vendas.head(5)

,ID.operação,id.cliente,camisa,calça,sapato,cinto,gravata,meia,data
0,100,1a,1,1,1,0,0,0,2019-01-10
1,101,1a,1,1,0,1,1,0,2019-02-15
2,102,1a,0,0,1,0,1,1,2019-03-05
3,103,1a,1,0,0,1,1,1,2019-05-10
4,104,1a,0,1,1,0,0,0,2019-06-20

In [157]:
df_6 = dt_vendas[["id.cliente", "data"]]

In [158]:
df_6.dtypes

id.cliente            object
data          datetime64[ns]
dtype: object

In [159]:
df_6.head(10)

  id.cliente       data
0         1a 2019-01-10
1         1a 2019-02-15
2         1a 2019-03-05
3         1a 2019-05-10
4         1a 2019-06-20
5         1a 2019-07-10
6         2b 2018-02-10
7         2b 2018-05-06
8         2b 2018-08-20
9         2b 2018-10-05

In [161]:
# variaveis utilizadas para montar o dataframe
l1 = 0
l2 = 1
j1 = 0
j2 = 1

l3 = 1
l4 = 2
j3 = 1
j4 = 2

Z = pd.DataFrame()
ZZ = pd.DataFrame()
W = [np.nan]

# loop para gerar a coluna com o tempo entre uma cadencia e outra,
# gerando também o calculo da média do tempo entre cada cadencia da ON e preenchendo 
# no para a ultima cadencia da ON.
# OBS.: Demora em média de uns 10 minutos rodando
for row in df_6.iterrows():
    print(l1)
    
    #print(df_6.iloc[l1:l2,j1:j2])
    A1 = df_6.iloc[l1:l2,j1:j2]
    
    #print(df_6.iloc[l1:l2,j3:j4])
    B1 = df_6.iloc[l1:l2,j3:j4]
    
    #print(df_6.iloc[l3:l4,j1:j2])
    A2 = df_6.iloc[l3:l4,j1:j2]
    
    #print(df_6.iloc[l3:l4,j3:j4])
    B2 = df_6.iloc[l3:l4,j3:j4]
    
    l3 += 1  #l1 + 1
    l4 += 1  #l2 + 1
    
    if A1.values == A2.values:
        print('ok')
        K = [(B2['data'].reset_index(drop=True)-B1['data'].reset_index(drop=True)).dt.days]
        J = pd.DataFrame(K)
        #Z = Z.append(K)
        Z = pd.concat([A1.reset_index(drop=True), J.reset_index(drop=True)], axis = 1)
        ZZ = ZZ.append(Z)
    else:
        #ZZ = ZZ.append(W)
        k = A1.values[0]
        #ZZ.update(ZZ['Id_ON'].fillna(k[0]))
        
        Z_k = ZZ[ZZ['id.cliente'] == k[0]]
        K = [abs(Z_k[0].mean())]
        #ZZ.update(ZZ[0].fillna(K[0]))

        J = pd.DataFrame(K)
        Z = pd.concat([A1.reset_index(drop=True), J.reset_index(drop=True)], axis = 1)
        ZZ = ZZ.append(Z)
        #Z = Z.append(W)

    l2 += 1
    l1 += 1
# deletando variaveis que não são mais utilizadas    
del A1, B1, A2, B2, K, k, J, Z, Z_k, W, row
del l1, l2, l3, l4,
del j1, j2, j3, j4

0
ok
1
ok
2
ok
3
ok
4
ok
5
6
ok
7
ok
8
ok
9
ok
10
ok
11
12
ok
13
ok
14
ok
15
ok
16
ok
17
18
ok
19
ok
20
ok
21
ok
22
ok
23
24
ok
25
ok
26
ok
27
ok
28
ok
29

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:38: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.

In [169]:
# criando o dataframe para receber os dados do dataframe gerado pelo loop
# resetando o index do Z2
Z2 = pd.DataFrame(ZZ)
Z2.reset_index(inplace = True, drop = True)
print(Z2)

   id.cliente      0
0          1a   36.0
1          1a   18.0
2          1a   66.0
3          1a   41.0
4          1a   20.0
5          1a   36.2
6          2b   85.0
7          2b  106.0
8          2b   46.0
9          2b   86.0
10         2b   65.0
11         2b   77.6
12         3c  186.0
13         3c   99.0
14         3c  186.0
15         3c  126.0
16         3c  174.0
17         3c  154.2
18         4d  127.0
19         4d   77.0
20         4d  115.0
21         4d  131.0
22         4d   85.0
23         4d  107.0
24         5d  102.0
25         5d   69.0
26         5d  141.0
27         5d  101.0
28         5d   89.0
29         5d  100.4

In [170]:
# obtendo o index a partir o do d_6
df_8 = pd.DataFrame(df_6.index)

In [171]:
# colocando o index armazenado em df_8 junto ao Z2, e tornando a coluna do df_8 como novo index
# em seguida renomeando a coluna que possui o tempo entre uma cadencia e outra
df_9 = pd.concat([df_8, Z2[0]], axis = 1, ignore_index = True)
df_9 = df_9.set_index(0)
df_9 = df_9.rename(columns = {1 : 'tempo_entre_compra' })
print(df_9)

    tempo_entre_compra
0
0                 36.0
1                 18.0
2                 66.0
3                 41.0
4                 20.0
5                 36.2
6                 85.0
7                106.0
8                 46.0
9                 86.0
10                65.0
11                77.6
12               186.0
13                99.0
14               186.0
15               126.0
16               174.0
17               154.2
18               127.0
19                77.0
20               115.0
21               131.0
22                85.0
23               107.0
24               102.0
25                69.0
26               141.0
27               101.0
28                89.0
29               100.4

In [173]:
df_10 = pd.concat([df_6, df_9], axis = 1)
print(df_10)

   id.cliente       data  tempo_entre_compra
0          1a 2019-01-10                36.0
1          1a 2019-02-15                18.0
2          1a 2019-03-05                66.0
3          1a 2019-05-10                41.0
4          1a 2019-06-20                20.0
5          1a 2019-07-10                36.2
6          2b 2018-02-10                85.0
7          2b 2018-05-06               106.0
8          2b 2018-08-20                46.0
9          2b 2018-10-05                86.0
10         2b 2018-12-30                65.0
11         2b 2019-03-05                77.6
12         3c 2018-02-20               186.0
13         3c 2018-08-25                99.0
14         3c 2018-12-02               186.0
15         3c 2019-06-06               126.0
16         3c 2019-10-10               174.0
17         3c 2020-04-01               154.2
18         4d 2018-06-25               127.0
19         4d 2018-10-30                77.0
20         4d 2019-01-15               115.0
21         4d 2019-05-10               131.0
22         4d 2019-09-18                85.0
23         4d 2019-12-12               107.0
24         5d 2018-02-13               102.0
25         5d 2018-05-26                69.0
26         5d 2018-08-03               141.0
27         5d 2018-12-22               101.0
28         5d 2019-04-02                89.0
29         5d 2019-06-30               100.4

In [ ]:
# fazer o concat entre o dataframe completo e a coluna que calculou o tempo entre cada compra
...

In [ ]:
# criar grupos/classificações: 1 mês, 2 meses, 3 meses, 4 meses, 6 meses... verificar oque fica mais interessante
# 12/x sendo que x é a fração que deseja dividir o ano esemplo 12/3 = 4 logo seriam os clientes que compram de 4 em 4 meses
...

In [ ]:
# fazer o calculo da média de tempo para cada cliente, aplicar o arredondamento e ver em que grupo ele se encaixa
...

In [ ]:
# aplicar as determinadas labels de acordo com a média de tempo entre cada compra
...

In [ ]:
# tendo os clientes classificados treinar um modelo de ML para fazer a classificação de um novo cliente
...

In [ ]:
# usando os dados de resposta montar uma foma de informar o usuario que deve contatar o cliente
...

In [ ]:
# montar uma forma de analisar o cliente que não compra a muito tempo, por exemplo a média de compra é de 4 meses,
# mas fazem 5 meses ou mais que ele não compra, pode ser pegando a data de ultima compra subtraindo da data atual e verificando 
# se é superior ao resultado da média de compra ou o resultado da label, e aplicar tecnicas de churn
...

In [ ]:
# montar o modelo de recomendação apoiado no histórico de compras dos clientes
...

In [ ]:
# cruzar modelo de ecomendação com o aviso de contatar o cliente
...